/*深->淺  
    #17223b
    #263859
    #6b778d
 */
* {
    font-family: Microsoft JhengHei;
}
.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 280px;
    background-color: #263859;
    color: white;
    text-align: center;
}
.main-wrapper {
    /*background-color: #263859;*/
    margin-left: 280px;
    height: 100vh;
    /*color: white;*/
}
.skill-list {
    display: flex;
    justify-content: center;
}